###  Pandas basics: intro

In [1]:
#   We want to start with the two basic objects:
#     1 - pd.series
#     2 - pd.DataFrame

In [2]:
#     importing libraries 
import pandas as pd
#    gives a nickname to Panda as pd to make it faster. Panda is always nicknamed pd
import numpy as np

In [3]:
#    Let's define our first pd.series
ps = pd.Series(["a",1,np.pi,37])

In [4]:
ps

0           a
1           1
2    3.141593
3          37
dtype: object

In [5]:
#     ps   generates an index with each element  +   indicate the type (here an object)

In [6]:
type (ps)

pandas.core.series.Series

In [7]:
#     Access values of data series  only
print(ps.values)

['a' 1 3.141592653589793 37]

In [8]:
type(ps.values)

numpy.ndarray

In [9]:
#   NB: nd stands for n dimension (vectors)

In [10]:
ps.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
#       I can also point to 2 specific cells
ps[0:2]

0    a
1    1
dtype: object

In [12]:
#   Define series with string indexes
ex_series = pd.Series(
    data = ["Mozarella Cheese","Wiener Schnitzel","Schwarzwalder Kirshtorte","Lemonade","Whiskey"],
    index = ["Appetizer","Main Course","Dessert","Beverage","Alcohol"]
)

In [13]:
ex_series

Appetizer              Mozarella Cheese
Main Course            Wiener Schnitzel
Dessert        Schwarzwalder Kirshtorte
Beverage                       Lemonade
Alcohol                         Whiskey
dtype: object

In [14]:
## Using 'loc[]' and 'iloc[]'to access elements

In [15]:
ex_series.loc[["Appetizer","Beverage"]]

Appetizer    Mozarella Cheese
Beverage             Lemonade
dtype: object

In [16]:
#       Locate via iloc
ex.series.iloc[[0,1]]

NameError: name 'ex' is not defined

In [ ]:
#        We can retrieve a range of data using iloc[]
ex_series.loc[[]]

###       Data frames
    DataFrame is just a two-dimensional, size-mutable heteregeneous tabular data. Each DataFrame is just a collection of pd.Series

In [ ]:
#    Let's create our first DataFrame
#     Define sime data
dc_city_pop = {
    'Tokyo' : 30000,
    'Dehli' : 50000000,
    'Shanghai' : 10000000
}

In [ ]:
dc_city_pop

In [ ]:
ps_city_pop = pd.Series(dc_city_pop)

In [ ]:
ps_city_pop.values

In [ ]:
ps_city_pop.index

In [ ]:
#     
dc_city_countries = {
    'Tokyo':'Japan',
    'Dehli':'India',
    'Shanghai':'China'
}
    
#

In [ ]:
dc_city_countries

In [ ]:
#    create pd.Series
ps_city_countries = pd.Series(dc_city_countries)
ps_city_countries

In [ ]:
#    Concate pd.Series to create DataFrame

In [ ]:
df_cities = pd.concat([ps_city_pop,ps_city_countries], axis=1)

In [ ]:
#    Change column names to something more descriptive
df_cities.columns = ['population','country']
df_cities

In [ ]:
#      Accessing rows / Columns
df_cities.iloc[0:2,0]

In [ ]:
#     Access a single element of the DataFrame
df_cities.iloc[1,0]

In [ ]:
#     We can alos use .loc
df_cities.loc[['Shanghai']]

In [ ]:
#        Indexing based on logical conditions
df_cities['population']
#  equivalent to     df_cities.population
df_cities.population[df_cities.population > 2000000]

In [ ]:
#          I can help the reader inserting _ to better read the number
df_cities.country[df_cities.population > 20_000_000]

In [ ]:
#        Get all cities located in China
df_cities[df_cities.country.isin(["China","India"])]

In [ ]:
#      Negative (not) is the ~ sign
df_cities[~df_cities.country.isin(["China","India"])]

In [ ]:
#     Create column from index and generate new index  /  with inplace=False it does not change the orginal DataFrame. If inplace=True, it changes the original DataFrame
df_cities.reset_index(drop=False, inplace=True)

In [ ]:
#          to replace data in a DataFrame
df_cities.rename({'index':'city'}, axis="columns", inplace=True)
df_cities

In [ ]:
#     Metadata
#       shape indicates no of rows and columns
df_cities.shape

In [ ]:
#        I can index and look for the number of rows (the first info)
df_cities.shape[0]

In [ ]:
#        or opposedly the number of columns
df

In [ ]:
#           .info  gives a lot of information on the DataFrame        
df_cities.info()

In [ ]:
#          the type is considered an object (not a string)
df_cities.city